<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='js/lib/theme-chalk/index.css') }}"/>
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/style.css') }}"/>
</head>
<body>
    <div id="app">
        <!-- 登录框 -->
        <el-dialog style="height:800px;"
                   title="领取任务"
                   :visible.sync="innerVisible"
                   :show-close="false"
                   append-to-body
                   v-loading="loading"
                   element-loading-text="获取任务中，请稍等"
                   element-loading-spinner="el-icon-loading">
            <template>
                <el-form :model="form" ref="form" label-width="100px" class="demo-ruleForm"  @submit.native.prevent>
                    <el-form-item label="邮箱前缀" prop="email" :rules="[{ required: true, message: '邮箱前缀不能为空'}]">
                        <el-input type="text"
                                  placeholder="输入邮箱前缀..."
                                  v-model="form.email"
                                  autocomplete="off"
                                  @keyup.enter="submitForm('form')"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('form')">提交</el-button>
                        <el-button @click="resetForm('form')">重置</el-button>
                    </el-form-item>
                </el-form>
            </template>
        </el-dialog>

        <el-container>
            <el-header style="text-align: right; font-size: 12px;border-bottom: 1px solid #e5e5e5">
                <el-row>
                    <el-col :span="2"></el-col>
                    <el-col :span="8">
                        <div class="title-font">样本人工清理</div>
                    </el-col>
                    <el-col :span="2">
                        <div class="title-font">剩余</div>
                    </el-col>
                    <el-col :span="3">
                        <div v-html="remain" class="title-font2"></div>
                    </el-col>
                    <el-col :span="2">
                        <div class="title-font">张图片</div>
                    </el-col>

                </el-row>
            </el-header>
            ﻿
            <el-main>
                <template v-if="img_base64!=''&&warning_info==''">
                    <el-row>
                        <el-col :span="15">
                            <div class="group-class">期盼的结果:<p v-html="label" class="title-font3"></p>
                            </div>
                            <div class="group-class">任务图片:</div>
                            <div class="demo-image__placeholder">
                                <div class="block">
                                    <img class="img_class" style="width:600px" :src="img_base64">
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="8">
                                <template v-if="mode=='check'">
                                    <!--用来做判断，是好的样本，还是差的样本-->
                                    <h2>判断正确与否：</h2>
                                    <div class="group-class">
                                        <el-button class="bad-button" type="success" icon="el-icon-check" @click="good()"></el-button>
                                        <el-button class="bad-button" type="danger" icon="el-icon-close" @click="bad()"></el-button>
                                    </div>
                                </template>

                                <template v-if="mode=='rotate'">
                                    <!--用来做4方向标注-->
                                    <div class="square">
                                        <h2>单据方向：</h2>
                                      <table class="square-inner table">
                                        <tbody>
                                          <tr>
                                            <td></td>
                                            <td>
                                                <el-button class="arrow-button" type="success" @click="label_image('0')"> 👆</el-button>
                                            </td>
                                            <td></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <el-button class="arrow-button" type="success" @click="label_image('270')">👈</el-button>
                                            </td>
                                            <td></td>
                                            <td>
                                                <el-button class="arrow-button" type="success"   @click="label_image('90')"> 👉</el-button>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td></td>
                                            <td>
                                                <el-button class="arrow-button" type="success"   @click="label_image('180')">👇</el-button>
                                            </td>
                                            <td></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>

                                    <div class="group-class">
                                        <h2>不是单据：</h2>
                                       <el-button class="bad-button" type="warning"   @click="bad()">&nbsp;☠️&nbsp;</el-button>
                                    </div>
                                </template>

                            <div class="group-class">
                                <h2>我要反悔：</h2>
                                <p>（返回前一张）</p>
                               <el-button class="bad-button" type="danger"   @click="rollback()">🔙</el-button>
                            </div>

                            <div class="group-class">
                                <el-alert
                                        title="样本过滤说明"
                                        type="info"
                                        effect="dark"
                                        show-icon>
                                    <template slot='title'>
                                        <div></div>
                                    </template>
                                </el-alert>
                            </div>

                        </el-col>
                    </el-row>

                </template>
                <template>
                    <el-row>
                        <el-col :span="12">
                            <div class="group-class">
                                <p v-html="warning_info"></p>
                            </div>
                        </el-col>
                    </el-row>
                </template>
            </el-main>
            <el-footer>

            </el-footer>
        <el-container>

    </div>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="{{ url_for('static',filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static',filename='js/lib/index.js') }}" type="module"></script>
    <script src="{{ url_for('static',filename='js/axios.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/qs.js') }}"></script>
    <script src="{{ url_for('static',filename='js/index.js') }}" type="module"></script>
</body>
</html>
